* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #000000;
  font-family: "Space Grotesk", sans-serif;
}
body::selection {
  background-color: rgb(163, 163, 163);
  color: black;
}
.navbar {
  display: flex;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: navSlideDown 0.7s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
@keyframes navSlideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.main-content {
  animation: mainSlideUp 1s cubic-bezier(0.22, 1, 0.36, 1) 0.15s forwards;
  opacity: 0;
}
@keyframes mainSlideUp {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.line {
  border: 0px solid #333;
}
.logo {
  display: flex;
  margin-left: 11vw;
  margin-right: 0vw;
  gap: 2vw;
}
.navlinks {
  display: flex;
  margin: auto;
  margin-right: 38vw;
  margin-left: 2vw;
  gap: 2vw;
  justify-content: space-between;
  justify-content: space-around;
}
.links {
  text-decoration: none;
  color: rgb(129, 129, 129);
  transition:
    color 0.2s,
    transform 0.5s,
    opacity 0.5s;
}
.links:active {
  color: white;
  transform: scale(0.98);
  scale: 0.57s;
}
.links:hover {
  color: white;
  transform: scale(0.98);
  scale: 0.57s;
}
.btns {
  display: flex;
  margin: auto;
  gap: 0.5vw;
  margin-right: 28vmax;
}
.demo {
  background-color: black;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 0.5px solid rgb(92, 92, 92);
  width: 8.5vmax;
  height: 3.7vh;
  color: white;
  cursor: pointer;
  border-radius: 19px;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.2s,
    transform 0.15s,
    opacity 0.15s;
}
.demo:active {
  background-color: #5050507c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.demo:hover {
  background-color: #5050507c;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.download {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 0.5px solid rgb(92, 92, 92);
  width: 8.2vmax;
  height: 3.7vh;
  color: rgb(0, 0, 0);
  border-radius: 19px;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.1s,
    transform 0.15s,
    opacity 0.15s;
}
.download:active {
  background-color: #c2c2c27c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.download:hover {
  background-color: #c2c2c27c;
  color: white;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.newmodel {
  display: inline-flex;
  justify-content: center;
  margin-top: 9vw;
  background-color: #2e2e2e7c;
  padding: 0.5vh 1.3vw 0.5vh 0.6vw;
  font-size: smaller;
  width: fit-content;
  margin-left: 42vw;
  border: 0.5px solid rgba(63, 63, 63, 0.459);
  border-radius: 25px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  transition:
    backgorun-color 0.5s,
    border 0.3s,
    transform 0.15s,
    opacity 0.15s;
}
.newmodel:active {
  background-color: #4747474d;
  border: 0.5px solid rgba(150, 150, 150, 0.527);
  transform: 0.98;
  opacity: 0.75s;
}
.newmodel:hover {
  background-color: #4747474d;
  border: 1px solid rgba(150, 150, 150, 0.527);
  transform: 0.98;
  opacity: 0.75s;
}
.tag {
  color: #f85422;
  border: 0.5px solid #f85422;
  padding: 1px 12px;
  border-radius: 12px;
  font-size: 1.3vh;
}
.text {
  color: rgb(255, 255, 255);
  font-size: 1.5vh;
  font-weight: 400;
}
.divide {
  color: rgba(255, 255, 255, 0.548);
  font-size: 1.5vh;
  transition:
    color 0.2s,
    transform 0.5s,
    opacity 0.5s;
}
.divide:active {
  color: rgba(255, 255, 255, 0.979);
  transform: scale(0.98s);
  opacity: 0.5s;
}
.divide:hover {
  color: rgba(255, 255, 255, 0.979);
  transform: 0.5;
}
.head1 {
  text-align: center;
  margin-top: 5vh;
  font-size: 3vw;
  font-weight: 300;
  font-family: "Space Grotesk", sans-serif;
  overflow: visible;
}
.head2 {
  text-align: center;
  font-size: 3vw;
  font-weight: 300;
  font-family: "Space Grotesk", sans-serif;
  overflow: visible;
}
.highlight {
  position: relative;
  display: inline-block;
  color: white;
  overflow: visible;
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    #501eda,
    #621ad6,
    #c11ed6,
    #fcd93d,
    #f5e278
  );
  transform: scaleX(0);
  transform-origin: left;
  animation: underlineGrow 3s ease-in-out infinite;
  z-index: 1;
}

@keyframes underlineGrow {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  20% {
    transform: scaleX(1);
    transform-origin: left;
  }
  30% {
    transform: scaleX(1);
    transform-origin: right;
  }
  40% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

p {
  margin-top: 1vh;
  text-align: center;
  color: #a0a0a0d5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btns2 {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  gap: 1vw;
}
.api {
  background-color: black;
  border: 0.5px solid rgb(92, 92, 92);
  width: 8.5vmax;
  height: 3.7vh;
  color: white;
  border-radius: 19px;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.2s,
    transform 0.15s,
    opacity 0.15s;
}
.api:active {
  background-color: #5050507c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.api:hover {
  background-color: #5050507c;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.Launch {
  background-color: rgb(240, 240, 240);
  border: 0.5px solid rgb(92, 92, 92);
  width: 8.5vmax;
  height: 3.7vh;
  color: rgb(0, 0, 0);
  border-radius: 19px;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.2s,
    transform 0.15s,
    opacity 0.15s;
}
.Launch:active {
  background-color: #c2c2c27c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.Launch:hover {
  background-color: #c2c2c27c;
  color: white;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.vidoes {
  display: flex;
  margin-top: 6vh;
  gap: 0.4vw;
  justify-content: center;
  margin-right: 15vw;
}
.openaivideo {
  display: block;
  overflow: hidden;
  width: 20vmax;
  height: 43vh;
  margin: 0;
  margin-left: 35vh;
  margin-top: 4vh;
  border-radius: 15px;
  object-fit: cover;
  box-sizing: border-box;
}
.idevideo {
  display: block;
  overflow: hidden;
  width: 20vmax;
  height: 43vh;
  margin-top: 4vh;
  border-radius: 15px;
  object-fit: cover;
}
.workimg {
  display: block;
  overflow: hidden;
  width: 20vmax;
  height: 43vh;
  margin: 0;
  margin-left: 0vh;
  margin-top: 4vh;
  border-radius: 15px;
  object-fit: cover;
}
.video2 {
  display: flex;
  gap: 0.4vw;
  justify-content: center;
  margin-right: 15vw;
}
.aimage {
  display: block;
  overflow: hidden;
  width: 39vw;
  height: 40vh;
  margin: 0;
  margin-left: 35vh;
  margin-top: 0.5vh;
  border-radius: 15px;
  object-fit: cover;
}
.voicevideo {
  display: block;
  overflow: hidden;
  width: 22.7vmax;
  height: 38.5vh;
  margin: 0;
  margin-left: 0vh;
  margin-right: 1.7vh;
  margin-top: 1.2vh;
  border-radius: 15px;
  object-fit: cover;
}
.block2 {
  display: flex;
}
.infoapi {
  margin: 0;
  margin-left: 35vh;
  margin-top: 28vh;
  top: 5vh;
}
.dapi {
  font-weight: 300;
  font-size: 3vmax;
}
.inf {
  font-weight: 300;
  font-size: 3vmax;
  color: #7a7a7a;
  margin-top: 0.1vh;
}
.minfo {
  margin-top: 0.2vh;
  width: 40ch;
  color: #5c5c5c;
  font-weight: 400;
}
.cdimg {
  display: flex;
  overflow: hidden;
  width: 30.9vw;
  height: 48.5vh;
  margin: 0;
  margin-top: 18vh;
  margin-right: 18vw;
  margin-left: 12vw;
  border-radius: 15px;
}
.btn3 {
  margin-top: 3vh;
}
.key {
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 0.5px solid rgb(92, 92, 92);
  width: 6.2vmax;
  height: 3.7vh;
  color: rgb(0, 0, 0);
  border-radius: 19px;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.1s,
    transform 0.15s,
    opacity 0.15s;
}
.key:active {
  background-color: #c2c2c27c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.key:hover {
  background-color: #c2c2c27c;
  color: white;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.readoc {
  background-color: black;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 0.5px solid rgb(92, 92, 92);
  width: 6.5vmax;
  height: 3.7vh;
  color: white;
  margin-left: 0.4vw;
  border-radius: 19px;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.2s,
    transform 0.15s,
    opacity 0.15s;
}
.readoc:active {
  background-color: #5050507c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.readoc:hover {
  background-color: #5050507c;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.revpart {
  display: flex;
  margin-top: 15vh;
  margin-right: 4vw;
  justify-content: center;
  gap: 9vw;
}
.num {
  font-size: 3.5vw;
  font-weight: 400;
}
.gpu {
  font-size: 3.5vw;
  font-weight: 400;
}
.mission {
  font-size: 3.5vw;
  font-weight: 400;
}
.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
}
.news {
  display: flex;
  margin-left: 33vh;
  margin-top: 15vh;
  font-size: 1.2vw;
  font-weight: 400;
}
.img4 {
  display: flex;
  justify-content: center;
  gap: 1.5vw;
  margin-right: 2vw;
  margin-top: 1.5vh;
}
.img1 {
  display: flex;
  width: 14vw;
  height: 17vh;
  border-radius: 12px;
}
.img-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 1vw;
  color: white;
  gap: 0.5vw;
}
.time {
  color: #999;
  font-size: 0.9vw;
  margin-top: 8px;
  text-align: left;
  margin-top: 1vh;
  color: #777777;
  font-size: 0.8vw;
}
h4 {
  font-weight: 100;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 21vh;
  font-size: 1.8vw;
  font-weight: 300;
}
.cards-wrapper {
  display: flex;
  gap: 24px;
  padding: 40px;
  max-width: 60vw;
  margin-left: 18vw;
}

.card {
  flex: 1;
  background: #202020;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

.card-title {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 12px;
}

.card-subtitle {
  color: #999;
  font-size: 15px;
  margin: 0 0 28px;
  line-height: 1.5;
}

.card-list {
  list-style: none;
  padding: 0;
  margin: 0 0 32px;
  flex-grow: 1;
}

.card-list li {
  position: relative;
  padding-left: 26px;
  margin-bottom: 14px;
  font-size: 15px;
  color: #eee;
}

.card-list li::before {
  content: "✓";
  position: absolute;
  left: 0;
  color: #777;
}

.btn {
  width: 100%;
  padding: 14px 0;
  border-radius: 24px;
  font-size: 0.7vw;
  font-weight: 500;
  cursor: pointer;
}

.btn-filled {
  background: #fff;
  color: #000;
  border: none;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.1s,
    transform 0.15s,
    opacity 0.15s;
}
.btn-filled:active {
  background-color: #c2c2c27c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.btn-filled:hover {
  background-color: #c2c2c27c;
  color: white;
  transform: scale(0.5s);
  opacity: 0.5s;
}

.btn-outline {
  background: transparent;
  color: #fff;
  border: 1px solid #444;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.2s,
    transform 0.15s,
    opacity 0.15s;
}
.btn-outline:active {
  background-color: #5050507c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.btn-outline:hover {
  background-color: #5050507c;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.site-footer {
  background: #000000;
  color: #999;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 0 40px 40px;
  margin-top: 11vh;
  margin-bottom: 3vh;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 15vw;
  margin-left: 28vh;
}

.logo-img {
  height: 8vh;
  width: auto;
  object-fit: contain;
}

.copyright {
  font-size: 13px;
  color: #666;
  margin: 0;
  font-size: 1.8vh;
}

.footer-right {
  display: flex;
  align-items: center;
  gap: 0.8vw;
  margin-right: 37vh;
}
.footer-right a {
  display: flex;
  align-items: center;
  gap: 0.6vw;
  color: #636363;
  text-decoration: none;
  font-family: "Space Grotesk", sans-serif;
  font-size: 13px;
  transition: color 0.2s;
}
.footer-right a:hover {
  color: #131313;
}
.footer-right a svg {
  display: flex;
  width: 35px;
  height: 35px;
}
