* {
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #050505;
  font-family: "Space Grotesk", sans-serif;
}
.navbar {
  display: flex;
  height: 6vh;
  background-color: rgba(0, 0, 0, 0.178);
  backdrop-filter: blur(28px);
  -webkit-backdrop-filter: blur(28px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  animation: navSlideDown 0.7s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
@keyframes navSlideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.main-content {
  animation: mainSlideUp 1s cubic-bezier(0.22, 1, 0.36, 1) 0.15s forwards;
  opacity: 0;
}
@keyframes mainSlideUp {
  from {
    transform: translateY(80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.line {
  border: 0px solid #333;
}
.logo {
  display: flex;
  margin-left: 11vw;
  margin-right: 0vw;
  gap: 2vw;
}
.navlinks {
  display: flex;
  margin: auto;
  margin-right: 38vw;
  margin-left: 2vw;
  gap: 2vw;
  justify-content: space-between;
  justify-content: space-around;
}
.links {
  text-decoration: none;
  color: rgb(129, 129, 129);
  transition:
    color 0.2s,
    transform 0.5s,
    opacity 0.5s;
}
.links:active {
  color: white;
  transform: scale(0.98);
  scale: 0.57s;
}
.links:hover {
  color: white;
  transform: scale(0.98);
  scale: 0.57s;
}
.btns {
  display: flex;
  margin: auto;
  gap: 0.5vw;
  margin-right: 28vmax;
}
.demo {
  background-color: black;
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 0.5px solid rgb(92, 92, 92);
  width: 8.5vmax;
  height: 3.7vh;
  color: white;
  border-radius: 19px;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.2s,
    transform 0.15s,
    opacity 0.15s;
}
.demo:active {
  background-color: #5050507c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.demo:hover {
  background-color: #5050507c;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.download {
  background-color: rgba(240, 240, 240, 0.89);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 0.5px solid rgb(92, 92, 92);
  width: 8.2vmax;
  height: 3.7vh;
  color: rgb(0, 0, 0);
  border-radius: 19px;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.1s,
    transform 0.15s,
    opacity 0.15s;
}
.download:active {
  background-color: #c2c2c27c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.download:hover {
  background-color: #c2c2c27c;
  color: white;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.newmodel {
  display: inline-flex;
  justify-content: center;
  margin-top: 4vw;
  background-color: #2e2e2e7c;
  padding: 0.5vh 1.3vw 0.5vh 0.6vw;
  font-size: smaller;
  width: fit-content;
  margin-left: 42vw;
  border: 0.5px solid rgba(63, 63, 63, 0.459);
  border-radius: 25px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  transition:
    backgorun-color 0.5s,
    border 0.3s,
    transform 0.15s,
    opacity 0.15s;
}
.newmodel:active {
  background-color: #4747474d;
  border: 0.5px solid rgba(150, 150, 150, 0.527);
  transform: 0.98;
  opacity: 0.75s;
}
.newmodel:hover {
  background-color: #4747474d;
  border: 1px solid rgba(150, 150, 150, 0.527);
  transform: 0.98;
  opacity: 0.75s;
}
.tag {
  color: #f35f32;
  border: 0.5px solid #f35f32;
  padding: 1px 12px;
  border-radius: 12px;
  font-size: 1.3vh;
}
.text {
  color: rgb(255, 255, 255);
  font-size: 1.5vh;
}
.divide {
  color: rgba(255, 255, 255, 0.548);
  font-size: 1.5vh;
  transition:
    color 0.2s,
    transform 0.5s,
    opacity 0.5s;
}
.divide:active {
  color: rgba(255, 255, 255, 0.979);
  transform: scale(0.98s);
  opacity: 0.5s;
}
.divide:hover {
  color: rgba(255, 255, 255, 0.979);
  transform: 0.5;
}
.head1 {
  text-align: center;
  margin-top: 4vh;
  font-size: 3vw;
  font-family: "Space Grotesk", sans-serif;
}
.head2 {
  text-align: center;
  font-size: 3vw;
  font-family: "Space Grotesk", sans-serif;
}
.highlight {
  position: relative;
  display: inline-block;
  color: white; /* keep text white, only underline is orange */
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: -0px;
  left: 0;
  width: 100%;
  height: 0.5px;
  border-radius: 20px;
  background: linear-gradient(
    to right,
    #000000,
    #540d8d,
    #9710a8,
    #fcd93d,
    #000000
  );
  transform: scaleX(0);
  transform-origin: left;
  animation: underlineGrow 3s ease-in-out infinite;
}
@keyframes underlineGrow {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  20% {
    transform: scaleX(1);
    transform-origin: left;
  }
  30% {
    transform: scaleX(1);
    transform-origin: right;
  }
  40% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}
p {
  text-align: center;
  color: #a0a0a0d5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btns2 {
  display: flex;
  justify-content: center;
  gap: 1vw;
}
.api {
  background-color: black;
  border: 0.5px solid rgb(92, 92, 92);
  width: 8.5vmax;
  height: 3.7vh;
  color: white;
  border-radius: 19px;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.2s,
    transform 0.15s,
    opacity 0.15s;
}
.api:active {
  background-color: #5050507c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.api:hover {
  background-color: #5050507c;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.Launch {
  background-color: rgb(240, 240, 240);
  border: 0.5px solid rgb(92, 92, 92);
  width: 8.5vmax;
  height: 3.7vh;
  color: rgb(0, 0, 0);
  border-radius: 19px;
  font-family: "Space Grotesk", sans-serif;
  transition:
    background-color 0.2s,
    transform 0.15s,
    opacity 0.15s;
}
.Launch:active {
  background-color: #c2c2c27c;
  transform: scale(0.98);
  opacity: 0.5s;
}
.Launch:hover {
  background-color: #c2c2c27c;
  color: white;
  transform: scale(0.5s);
  opacity: 0.5s;
}
.vidoes {
  display: flex;
  gap: 0.4vw;
  justify-content: center;
  margin-right: 15vw;
}
.openaivideo {
  display: block;
  overflow: hidden;
  width: 20vmax;
  height: 43vh;
  margin: 0;
  margin-left: 35vh;
  margin-top: 4vh;
  border-radius: 15px;
  object-fit: cover;
  box-sizing: border-box;
}
.idevideo {
  display: block;
  overflow: hidden;
  width: 20vmax;
  height: 43vh;
  margin-top: 4vh;
  border-radius: 15px;
  object-fit: cover;
}
.workimg {
  display: block;
  overflow: hidden;
  width: 20vmax;
  height: 43vh;
  margin: 0;
  margin-left: 0vh;
  margin-top: 4vh;
  border-radius: 15px;
  object-fit: cover;
}
.video2 {
  display: flex;
  gap: 0.4vw;
  justify-content: center;
  margin-right: 15vw;
}
.aimage {
  display: block;
  overflow: hidden;
  width: 33vmax;
  height: 40vh;
  margin: 0;
  margin-left: 35vh;
  margin-top: 0.5vh;
  border-radius: 15px;
  object-fit: cover;
}
.voicevideo {
  display: block;
  overflow: hidden;
  width: 27.5vmax;
  height: 40vh;
  margin: 0;
  margin-left: 0vh;
  margin-top: 0.5vh;
  border-radius: 15px;
  object-fit: cover;
}
